= simple_form_for(@perk, multipart: true) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :vendor
    = f.association :residence
    = f.input :begins_at
    = f.input :ends_at
    = f.input :image, as: :file

  .form-actions
    = f.button :submit
