.centered.perk-title Today's Perks

.container.perks-container
  - @perks.each do |perk|
    .col-lg-3.col-md-4
      .div.perk-card
        .div.centered= image_tag perk.image.url(:perk)
        .div.centered= image_tag perk.vendor.image.url(:perk)
        %hr
        %h4= perk.title
        %h5= perk.vendor.name
        %br
        %h4 Exclusively At
        %h5= perk.residence.name
