= simple_form_for(@address) do |f|
  = f.error_notification

  .form-inputs
    = f.input :street1
    = f.input :street2
    = f.input :city
    = f.input :state
    = f.input :zip
    = f.input :owner_id
    = f.input :owner_type
    = f.input :latitude
    = f.input :longitude

  .form-actions
    = f.button :submit
